<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Informacion del vehiculo</h3>
    
    tipo de vehiculo: <span th:text="${vehiculoAtributtes.tipo_vehiculo}"></span>
        <br/>
    marca: <span th:text="${vehiculoAtributtes.marca}"></span>
        <br/>
    modelo: <span th:text="${vehiculoAtributtes.modelo}"></span>
        <br/>
    color: <span th:text="${vehiculoAtributtes.color}"></span>
    </div>
</body>
</html>